body {
    background-color: blue;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.god {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.universe {
    display: flex;
    align-items: row;
    justify-content: row;

    background-color: rgba(255, 0, 0, 0);

    height: 19.5em;
    width: 18em;
}

.universe_2 {
    transform: rotateY(-180deg);


} 

/* side */

.side {
    background-color: rgba(128, 255, 0, 0);

    display: flex;
    flex-direction: column;
    align-items: row;
    justify-content: row;

    height: inherit;
    width: 9.5em;

}

/* side lvl 2 */
.side_1 {
    background-color: rgba(151, 231, 71, 0);

    height: 0.8em;
    width: inherit;

}

.side_2 {
    background-color: rgba(100, 172, 28, 0);

    height: 3em;
    width: inherit;

    display: flex;
    align-items: row;

}

.side_3 {
    background-color: rgba(169, 247, 91, 0);

    height: 2.7em;
    width: inherit;

    display: flex;
    align-items: row;

}

.side_4 {
    background-color: rgba(169, 247, 91, 0);

    height: 7em;
    width: inherit;

    display: flex;
    align-items: row;

}

.side_5 {
    background-color: rgba(169, 247, 91, 0);

    height: 2.9em;
    width: inherit;

    display: flex;
    align-items: row;

}

.side_6 {
    background-color: rgba(169, 247, 91, 0);

    height: 2.3em;
    width: inherit;

    display: flex;
    align-items: row;

}

.side_7 {
    background-color: rgba(169, 247, 91, 0);

    height: 0.8em;
    width: inherit;

    display: flex;
    align-items: row;
}

/* side lvl 3 */
.side_2_1 {
    background-color: rgba(169, 247, 91, 0);

    height: inherit;
    width: 1em;


}

.side_2_2 {
    background-color: rgba(110, 0, 22, 0);

    height: inherit;
    width: 8.5em;


    display: flex;
    flex-direction: column;
    align-items: row;
    justify-content: row;
}

/* side button */
.side_2_2_1 {
    background-color: rgba(169, 247, 91, 0);

    height: 1em;
    width: inherit;

}

.side_2_2_2 {
    background-color: rgba(0, 0, 255, 0);

    height: 2.2em;
    width: inherit;

    display: flex;
    align-items: row;

}

.side_button_1 {
    background-color: rgba(169, 247, 91, 0);

    height: inherit;
    width: 0.8em;

}

.side_button_2 {
    background-color: yellow;

    height: inherit;
    width: 3.7em;

    border-radius: 70% 0% 0% 0%;

}

.side_button_3 {
    background-color: red;

    height: inherit;
    width: 4em;

}

.side_button {
    background-color: yellow;
    
    height: inherit;
    width: inherit;

    border-radius: 0% 0% 100% 0%;

}

/* side button */

.side_3_1 {
    background-color: rgba(169, 247, 91, 0);

    height: inherit;
    width: 0.8em;


}

.side_3_2 {
    background-color: red;

    height: inherit;
    width: 2.7em;

    border-radius: 100% 0% 0% 0%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;



}

.side_3_3 {
    background-color: red;

    height: inherit;
    width: 6em;


}

.side_4_1 {
    background-color: rgba(184, 111, 126, 0);

    height: 0em;
    width: 0em;

    border-left: 0.8em solid transparent;
    border-bottom: 7em solid red;
    
}

.side_4_2 {
    background-color: red;

    height: inherit;
    width: 8.7em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* arrows */

.side_button_arrow_box {
    background-color: rgba(255, 105, 180, 0.678);

    height: 6em;
    width: 6em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.side_button_arrow_left {
    background-color: rgba(240, 240, 0, 0.644);

    height: inherit;
    width: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.side_button_arrow_left_1 {
    background-color: lawngreen;

    height: 2em;
    width: inherit;
    
}
.side_button_arrow_left_2 {
    background-color: rgba(0, 38, 252, 0.377);

    height: 2em;
    width: inherit;
    
}
.side_button_arrow_left_3 {
    background-color: lawngreen;

    height: 2em;
    width: inherit;
    
}
.side_button_arrow_mid {
    background-color: rgba(240, 28, 0, 0.452);

    height: inherit;
    width: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.side_button_arrow_mid_1 {
    background-color: rgb(38, 0, 252);

    height: 2em;
    width: inherit;
    
}
.side_button_arrow_mid_2 {
    background-color: rgb(252, 0, 13);

    height: 2em;
    width: inherit;
    
}
.side_button_arrow_mid_3 {
    background-color: rgb(55, 0, 252);

    height: 2em;
    width: inherit;
    
}
.side_button_arrow_right {
    background-color: rgba(240, 0, 100, 0.644);

    height: inherit;
    width: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.side_button_arrow_right_1 {
    background-color: lawngreen;

    height: 2em;
    width: inherit;
    
}
.side_button_arrow_right_2 {
    background-color: rgb(46, 0, 252);

    height: 2em;
    width: inherit;
    
}
.side_button_arrow_right_3 {
    background-color: lawngreen;

    height: 2em;
    width: inherit;
    
}

.side_5_1 {
    background-color: red;

    height: inherit;
    width: 2.9em;

    border-radius: 0% 0% 0% 60%;

}

.side_5_2 {
    background-color: red;

    height: inherit;
    width: 1.6em;


}

.side_5_3 {
    background-color: red;

    height: inherit;
    width: 5em;


}

.side_6_1 {
    background-color: rgba(169, 247, 91, 0);

    height: inherit;
    width: 4.5em;


}

.side_6_2 {
    background-color: red;

    height: inherit;
    width: 5em;


}

.side_6_2_1 {
    background-color: blue;

    height: inherit;
    width: 5em;

    border-radius: 0% 60% 0% 0%;
    
    border-right: 0.8em solid transparent;
    border-bottom: 8em solid blue;

}

/* center */

.center {
    background-color: rgba(0, 217, 255, 0);

    display: flex;
    flex-direction: column;
    align-items: row;
    justify-content: row;

    height: inherit;
    width: 8.5em;
}

/* center lvl 2 */
.center_1 {
    background-color: rgba(0, 217, 255, 0);

    height: 1.9em;
    width: inherit;

    display: flex;
    align-items: row;
}

.center_2 {
    background-color: red;

    height: 0.5em;
    width: inherit;

    display: flex;
    align-items: row;
}

.center_3 {
    background-color: red;

    height: 1.6em;
    width: inherit;

    display: flex;
    align-items: row;
}

.center_4 {
    background-color: red;

    height: 9.5em;
    width: inherit;

    display: flex;
    align-items: row;
}

.center_5 {
    background-color: red;

    height: 2.9em;
    width: inherit;

    display: flex;
    align-items: row;
}

.center_6 {
    background-color: red;

    height: 2.3em;
    width: inherit;

    display: flex;
    align-items: row;
}

.center_7 {
    background-color: rgba(0, 217, 255, 0);

    height: 0.8em;
    width: inherit;

    display: flex;
    align-items: row;
}

/* center lvl 3 */



.center_1_1 {
    background-color: red;

    height: inherit;
    width: 2.8em;

    border-radius: 100% 0% 0% 0%;
}

.center_1_2 {
    background-color: red;

    height: inherit;
    width: 5.7em;
}

.center_3_1 {
    background-color: red;

    height: inherit;
    width: 1.2em;
}

.center_3_2 {
    background-color: khaki;

    height: inherit;
    width: 1.3em;

    border-radius: 100% 0% 0% 0%;
}

.center_3_3 {
    background-color: khaki;

    height: inherit;
    width: 6em;
}

.center_4_1 {
    background-color: red;

    height: 0em;
    width: 0em;

    border-left: 1.2em solid transparent;
    border-bottom: 9.5em solid khaki;
}

.center_4_2 {
    background-color: khaki;

    height: inherit;
    width: 1em;
}

.center_4_3 {
    background-color: darkmagenta;

    height: inherit;
    width: 6.3em;
}

.center_5_1 {
    background-color: khaki;

    height: inherit;
    width: 4.5em;

    border-radius: 0% 0% 0% 90%;
}

.center_5_2 {
    background-color: khaki;

    height: inherit;
    width: 4em;
}

.center_7_1 {
    background-color: red;

    height: inherit;
    width: 4.8em;

    border-radius: 0% 0% 0% 90%;
    
    border-left: 0.8em solid transparent;
    border-top: 0.8m solid khaki;
}

.center_7_2 {
    background-color: red;

    height: inherit;
    width: 3.7em;
}